---
const {
  class: className,
  text,
  version,
  spanColor,
  bgColor,
  ...rest
} = Astro.props;
---

<button class={className} {...rest}>{text} <span>{version}</span></button>

<style define:vars={{ spanColor, bgColor }}>
  button {
    background-color: var(--bgColor);
    color: #ffffff;
    font-family: "RedHat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  button:hover {
    filter: brightness(110%);
  }
  button span {
    color: var(--spanColor);
  }
</style>
