---
import Button from "./Button.astro";

const buttonText = "Download";
const buttonV = "v1.3";
const buttonSpanColor = "#D9B8FF";
const bgColor2 = "#855FB1";
---

<footer>
  <div class='footer-divider'>
    <img
      class='footer-divider__img'
      src='/assets/02.svg'
      alt=''
      width='56'
      height='140'
    />
  </div>

  <h3 class='footer__title'>Experience more together</h3>
  <p class='footer__description'>
    Stay connected with reliable HD meetings and unlimited one-on-one and group
    video sessions.
  </p>
  <Button
    className='footer__button'
    text={buttonText}
    version={buttonV}
    spanColor={buttonSpanColor}
    bgColor={bgColor2}
  />
</footer>

<style>
  footer {
    position: relative;
    background: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url("/assets/mobile/image-footer.jpg");
    background-size: cover;
    text-align: center;
    padding-inline: 0.6rem;
  }

  .footer-divider__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  .footer__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 1.3rem;
  }
  .footer__description {
    max-width: 285px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 1.6rem;
  }
  .footer__button {
    margin-bottom: 4rem;
  }

  @media (min-width: 768px) {
    footer {
      background: linear-gradient(
          rgba(77, 150, 169, 0.9),
          rgba(77, 150, 169, 0.9)
        ),
        url("/assets/tablet/image-footer.jpg");
    }

    .footer__title {
      max-width: 330px;
      font-size: 2.5rem;
      font-weight: 900;
      margin-inline: auto;
      margin-bottom: 1.6rem;
    }
    .footer__description {
      max-width: 510px;
      line-height: 1.5;
      margin-bottom: 2.3rem;
    }
  }
</style>
