<div class='hero-images'>
  <img
    class='hero-image mobile-image'
    src='/assets/tablet/image-hero.webp'
    alt=''
    width='820'
    height='303'
  />
  <img
    class='hero-image tablet-image left-image'
    src='/assets/desktop/image-hero-left.webp'
    alt=''
    width='394'
    height='303'
  />
  <img
    class='hero-image tablet-image right-image'
    src='/assets/desktop/image-hero-right.webp'
    alt=''
    width='394'
    height='303'
  />
</div>

<style>
  .hero-images {
    position: relative;
    width: 109%;
    margin-top: 4rem;
    margin-bottom: 3rem;
    transform: translateX(-5%);
  }

  .hero-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }

  @media (min-width: 768px) {
    .hero-images {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translate(0);
    }
    .mobile-image {
      display: none;
    }
    .tablet-image {
      display: block;
    }
    .left-image {
      transform: translateX(-8%);
    }
    .right-image {
      transform: translateX(8%);
    }
  }
  @media (min-width: 1440px) {
    .hero-image {
      display: none;
    }
  }
</style>
