<section class='images-grid'>
  <img
    class='images-grid__img'
    src='/assets/desktop/image-woman-in-videocall.webp'
    alt='woman in videocall'
    width='510'
    height='484'
  />
  <img
    class='images-grid__img'
    src='/assets/desktop/image-women-videochatting.webp'
    alt='women videochatting'
    width='510'
    height='484'
  />
  <img
    class='images-grid__img'
    src='/assets/desktop/image-men-in-meeting.webp'
    alt='men in meeting'
    width='510'
    height='484'
  />
  <img
    class='images-grid__img'
    src='/assets/desktop/image-man-texting.webp'
    alt='man texting'
    width='510'
    height='484'
  />
</section>

<style>
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    padding-inline: 1rem;
    margin-bottom: 3rem;
  }
  .images-grid__img {
    border-radius: 5px;
  }
  @media (min-width: 768px) {
    .images-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: .6rem;
    }
  }
  @media (min-width: 1440px) {
    .images-grid {
      max-width: 1110px;
      margin-inline:auto;
      gap: 2rem;
    }
  }
</style>
