---
const { bgColor } = Astro.props;
---

<div class='link-container'>
  <a href='https://example.com'>What is it?</a>
</div>

<style define:vars={{ bgColor }}>
  a {
    display: inline-block;
    background-color: var(--bgColor);
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-decoration: none;
    padding: 1rem 1.6rem;
    border-radius: 25px;
  }
  /* a:hover {
    filter: brightness(110%);
  } */
</style>
