---
import Hero from "./Hero.astro";
import MainIntro from "./MainIntro.astro";
import ImagesGrid from "./ImagesGrid.astro";
import MainFeatures from "./MainFeatures.astro";
---

<main>
  <Hero />

  <MainIntro />

  <div class='main-divider'>
    <img
      class='main-divider__img'
      src='/assets/01.svg'
      alt=''
      width='56'
      height='140'
    />
  </div>

  <ImagesGrid />

  <MainFeatures />

</main>

<style>
  main {
    text-align: center;
  }

  .main-divider__img {
    margin: 3rem auto;
  }

</style>
