<main>
  <div class='images__container'>
    <img
      class='images__container__leftImg'
      src='/assets/desktop/image-hero-left.png'
      alt=''
      width='394'
      height='303'
    />
    <img
      class='images__container__rightImg'
      src='/assets/desktop/image-hero-right.png'
      alt=''
      width='394'
      height='303'
    />
  </div>
  <h1>Group Chat for Everyone</h1>
  <p>
    Meet makes it easy to connect with others face-to-face virtually and
    collaborate across any device.
  </p>
</main>

<style>
  main {
    font-family: "RedHat", sans-serif;
  }
  .images__container {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .images__container img {
    width: 50%;
  }
  .images__container__leftImg {
    transform: translateX(-4%);
  }
  .images__container__rightImg {
    transform: translateX(4%);
  }
  h1 {
    max-width: 267px;
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding-inline: .8rem;
  }
</style>
