---
import Hero from "./Hero.astro";
import MainIntro from "./MainIntro.astro";
import ImagesGrid from "./ImagesGrid.astro";
import MainFeatures from "./MainFeatures.astro";
---

<main>
  <div class='main-container'>
    <Hero />
    <MainIntro />
  </div>

  <div class='main-divider'>
    <img
      class='main-divider__img'
      src='/assets/01.svg'
      alt=''
      width='56'
      height='140'
    />
  </div>

  <ImagesGrid />

  <MainFeatures />
</main>

<style>
  main {
    text-align: center;
  }
  .main-divider__img {
    margin: 3rem auto;
  }

  @media (min-width: 1440px) {
    .main-container {
      background-image: url("/assets/desktop/image-hero-left.png"),
        url("/assets/desktop/image-hero-right.png");
      background-size: contain;
      background-repeat: no-repeat, no-repeat;
      background-position: calc(0% - 40px), calc(100% + 40px);
    }
  }
</style>
