<section class='main-features'>
  <h2 class='main-features__title'>Built for modern use</h2>
  <h3 class='main-features__subtitle'>Smarter meetings, all in one place</h3>
  <p class='main-features__description'>
    Send messages, share files, show your screen, and record your meetings — all
    in one workspace. Control who can join with invite-only team access, data
    encryption, and data export.
  </p>
</section>

<style>
  .main-features {
    padding: 0.9rem;
  }
  .main-features__title {
    color: #29788b;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }
  .main-features__subtitle {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }
  .main-features__description {
    max-width: 289px;
    color: #64647a;
    line-height: 1.5;
    margin-inline: auto;
    margin-bottom: 9rem;
  }

  @media (min-width: 768px) {
    .main-features__title {
      font-weight: 900;
    }
    .main-features__subtitle {
      max-width: 450px;
      font-size: 2.5rem;
      font-weight: 900;
      margin-inline: auto;
    }
    .main-features__description {
      max-width: 573px;
      font-size: 1.1rem;
      margin-bottom: 10rem;
    }
  }
  @media (min-width: 1440px) {
    .main-features__description {
      max-width: 530px;
      font-size: 1.2rem;
    }
  }
</style>
